body {
    /* font-family: "Roboto", sans-serif; */
    margin: 0;
    padding: 0;
  }
  
/* #genresection,
#yearsection{
flex: 1;
background-color: aqua;
} */

.genreContainer{
    margin: 20vh 150vh 0 25vh;
    /* background-color: aqua; */
}

.lebals{
    font-size:15px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#Genre{
    width: 40vh;
    height: 25px;
}
 .yearContainer{
    margin: -7vh 98vh 0 80vh;
    /* background-color: blue;    */
}   
#year{
    width: 40vh;
    height: 25px;
}
.languageContainer{
    margin: -6.8vh 0 0 135vh;
}
#language{
    width: 40vh;
    height: 25px;
}

.ratingContainer{
    margin: 0 0 0 25vh;
}
#rating{
    height: 25px;
    width: 150vh;
}
#searchBtn{
    width: 10%;
    margin-top: 1vh;
    margin-left: 153vh;
    height: 25px;
    border-radius: 5px;
    /* background-color: azure; */
}
button:hover {
    background-color: rgb(206, 204, 204)
  }
#line{
    height: 1px;
    background-color: gray;
    margin: 2vh 43vh 0 25.5vh;
}
#heading{
    margin: 2vh 43vh 0 25vh;
}
table
{
    width:100%;
    /* border:4px solid gray; */
    padding:2px;
}
thead
{
    background-color:none;
}
td
{
    padding-left: 100px;
}
th
{
    padding: 0 2px 0 10vh;
    line-height: 15px;
}
th:nth-child(2){
    padding: 0 2px 0 0;
}
th:nth-child(3){
    padding: 0 2px 0 14vh;
}